<section class="container">
  <div class="content">
    <div class="title">
      <h1>CRUD com Angular, PHP e MySQL</h1>
    </div>
    <div class="about">
      <div class="text">
        <h2>Cadastro de Cursos</h2>
        <p>
          Este projeto foi desenvolvido como parte de um treinamento de criação e consumo
          de dados de uma API. Essa API tem o objetivo de guardar registros sobre cursos
          ofertados por uma plataforma de ensino.
        </p>
        <p>
          O Backend foi construído com PHP e está hospedado no
          <a href="https://heroku.com" target="_blank">Heroku</a>.
        </p>
        <p>
          O Banco de Dados escolhido para este projeto foi o MySQL, também hospedado no
          <a href="https://heroku.com" target="_blank">Heroku</a>. Os dados armazenados
          são: código identificador, nome do curso e preço.
        </p>
        <p>
          Para o Frontend, foi escolhido o framework Angular para exibir uma tabela contendo
          os cursos cadastrados, através de paginação dos dados, com opção de busca, inclusão,
          edição e exclusão.
        </p>
        <p>
          Clique no menu <a routerLink="list">"Cursos"</a> para visualizar os cursos cadastrados.
          Aproveite para fazer buscas por cursos sobre um assunto específico e para cadastrar
          novos cursos também.
        </p>
      </div>
      <div class="image">
        <img src="./assets/images/programador-setup.webp" alt="Imagem de uma mesa de escritório com cadeira, computador e acessórios">
      </div>
    </div>
  </div>
</section>
